<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161739963411-q395v3hdv01kt3oitk6mqoitjag7ovqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161739963411-q395v3hdv01kt3oitk6mqoitjag7ovqg</string>
	<key>API_KEY</key>
	<string>AIzaSyCIZu3D2dNl-fiEWJAQ6Q4vbOT6AeUoc98</string>
	<key>GCM_SENDER_ID</key>
	<string>161739963411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catalogoLivroAikidow</string>
	<key>PROJECT_ID</key>
	<string>catalogo-de-livros-aikido</string>
	<key>STORAGE_BUCKET</key>
	<string>catalogo-de-livros-aikido.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161739963411:ios:b45f6be5804881ec2353e6</string>
</dict>
</plist>